.ipynb_checkpoints
.vscode
.pyc
ps2/MATRIX.TEST
ps2/MATRIX.TRAIN
ps2/MATRIX.TRAIN.100
ps2/MATRIX.TRAIN.1400
ps2/MATRIX.TRAIN.200
ps2/MATRIX.TRAIN.400
ps2/MATRIX.TRAIN.50
ps2/MATRIX.TRAIN.800
ps4/q1/
ps4/q4/
ps4/q6/